body{
    background-color: rgb(51, 51, 51);
    color: rgb(184, 15, 15);
    font-family: Raleway;
}

h2{
    text-align: center;
    font-size: 50px;
}
.filme{
    text-align: center;
}
.cartaz{
   width: 40%;}

.filme-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 2em;
}
.containerbotao{
    background-color: rgb(184, 15, 15);
    color: black;
    font-size: 20px;
    border-radius: 5px;
}
.botao{
    text-align: center;
}
.informacao{
    color: azure;
    font-size: 20px;
    display:flow-root;
}
.imagem{
    width: 20%;
}