body{
    background-color: black;
    color: rgb(184, 15, 15);
}

h2{
    text-align: center;
    font-size: 50px;
}
.filme{
    text-align: center;
}
.cartaz{
   width: 40%;}

.filme-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 2em;
}
.containerbotao{
    background-color: rgb(184, 15, 15);
    color: black;
    font-size: 20px;
    border-radius: 5px;
}
.botao{
    text-align: center;
}

